$primaryBackgroundColor: #fa5757;
$secondaryBackgroundColor: #5368df;
$primaryTextColor: #fffafa;
$TextColor: #252b46;
$TextColor-1: #9194a1;

// font
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
